@font-face {
	font-family: 'Golos Text';
	src: url('/fonts/GolosText-Regular.ttf');
	font-style: normal;
	font-weight: 400;
	// font-display: swap;
}

@font-face {
	font-family: 'Golos Text';
	src: url('/fonts/GolosText-Medium.ttf');
	font-style: normal;
	font-weight: 500;
	// font-display: swap;
}

@font-face {
	font-family: 'Golos Text';
	src: url('/fonts/GolosText-SemiBold.ttf');
	font-style: normal;
	font-weight: 600;
	// font-display: swap;
}
