.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
	transition: all 0.2s;
}
.slide-left-enter-from {
	opacity: 0;
	transform: translate(100%, 0);
}
.slide-left-leave-to {
	opacity: 0;
	transform: translate(-100%, 0);
}
.slide-right-enter-from {
	opacity: 0;
	transform: translate(-100%, 0);
}
.slide-right-leave-to {
	opacity: 0;
	transform: translate(100%, 0);
}

.menu-enter-active {
	overflow: hidden;
	transition: all 0.2s ease-out;
}
.menu-enter-from {
	opacity: 0;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
	transform: translateX(50%);
}
.menu-enter-to {
	border-radius: 0;
}

.slide-top-enter-active,
.slide-top-leave-active {
	transition: all 0.2s;
}
.slide-top-enter-from {
	opacity: 0;
	transform: translateY(-20%);
}
.slide-top-leave-to {
	opacity: 0;
	transform: translateY(-20%);
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
	transition: all 0.3s;
}
.slide-bottom-enter-from {
	opacity: 0;
	transform: translateY(100%);
}
.slide-bottom-leave-to {
	opacity: 0;
	transform: translateY(100%);
}
