:root {
	--color-black: #030303;
	--color-grey: #9a9a9a;
	--color-white: #ffffff;

	--color-green50: #e7ffe7;
	--color-green100: #cdffcd;
	--color-green200: #9bfe9b;
	--color-green300: #68fe68;
	--color-green400: #36fd36;
	--color-green500: #03fd03;
	--color-green600: #02cb02;
	--color-green700: #019901;
	--color-green800: #016601;
	--color-green900: #013301;

	--color-red50: #ffe2e2;
	--color-red100: #fec9ca;
	--color-red200: #fd9798;
	--color-red300: #fc6567;
	--color-red400: #fc3236;
	--color-red500: #f70408;
	--color-red600: #c50306;
	--color-red700: #930205;
	--color-red800: #600203;
	--color-red900: #2e0101;

	--color-grey50: #fcfcfd;
	--color-grey100: #edeef2;
	--color-grey200: #cfd2dd;
	--color-grey300: #b1b6c8;
	--color-grey400: #939ab3;
	--color-grey500: #757e9e;
	--color-grey600: #5d6583;
	--color-grey700: #484e65;
	--color-grey800: #333747;
	--color-grey900: #1d202a;

	--color-blue50: #fcfcff;
	--color-blue100: #e2e8ff;
	--color-blue200: #b0bffe;
	--color-blue300: #7d97fe;
	--color-blue400: #4b6efd;
	--color-blue500: #1945fc;
	--color-blue600: #022ee0;
	--color-blue700: #0224ad;
	--color-blue800: #01197b;
	--color-blue900: #010f48;
}
