@use '@/styles/_mixins.scss' as *;

.input-wrapper {
	position: relative;
	@include useFont(tmdm);
}

.input-row {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	border-radius: 12px;
	border: 1px solid #d9d9d9;
	background-color: #ffffff;
	cursor: text;
	height: 56px;

	.input {
		width: 100%;
		height: 100%;
		padding-inline: 20px 12px;
		color: var(--color-gray950);

		&::placeholder {
			color: #a6a6a6;
		}
	}

	&.filled {
		color: #1a1a1a;
		border-color: #d9d9d9;
		background-color: #f2f2f2;
	}

	&.invalid {
		border-color: #ea0805;
		background-color: #ffffff;
	}

	&.disabled {
		pointer-events: none;
		border-color: #9d9d9d;
		color: #9d9d9d;
	}

	&:hover,
	&:focus-within,
	&:focus-visible {
		border-color: #bfbfbf;
	}

	&:focus-within,
	&:focus-visible {
		background-color: #eef3ff;
		border-color: #638fff;
	}
}

.input-error {
	@include useFont(txsr);
	position: absolute;
	color: #ea0805;
	top: 100%;
	z-index: var(--z-index-input-error);
}
