@use '@/styles/_mixins.scss' as *;

:root {
	--layout-pad-x: 12px;
	--layout-max-width: 1793px;

	--icon-width: 24px;
	--icon-height: 24px;
	--icon-color: inherit;

	--z-index: 1;
	--z-index-header: 4;
	--z-index-mobile-menu: 3;
	--z-index-input-error: 2;
}

@include screen1900 {
	:root {
		--layout-pad-x: 63px;
	}
}
