@use '@/styles/_mixins.scss' as *;

:root {
	--layout-pad-x: 0.667rem;
	--layout-pad-y: 1.111rem;
	--layout-max-width: 106.667rem;

	--icon-width: 1.333rem;
	--icon-height: 1.333rem;
	--icon-color: var(--color-black);

	--border-radius: 1.1111rem;

	--z-index: 1;

	--z-index-header: 4;
	--z-index-mobile-menu: 3;

	--z-index-intro-s: 2;
	--z-index-intro-s-rect: 1;

	--z-index-input-error: 2;
	--z-index-select-options: 3;

	--z-index-footer: 2;

	--z-index-modal: 5;
	--z-index-cookie: 6;
}

@include screen1920 {
	:root {
		--border-radius: 1.3333rem;
		--layout-pad-x: 2.222rem;
	}
}
