:root {
	--btn-sm-gap: 0.444rem;
	--btn-sm-padding: 0.5rem 0.889rem;
	--btn-sm-icon-w: 1.111rem;
	--btn-sm-icon-h: 1.111rem;

	--btn-md-gap: 0.444rem;
	--btn-md-padding: 0.611rem 1.111rem;
	--btn-md-icon-w: 1.333rem;
	--btn-md-icon-h: 1.333rem;

	--btn-lg-gap: 0.556rem;
	--btn-lg-padding: 0.833rem 1.778rem;
	--btn-lg-icon-w: 1.333rem;
	--btn-lg-icon-h: 1.333rem;

	--btn-xl-gap: 0.556rem;
	--btn-xl-padding: 1.056rem 1.778rem;
	--btn-xl-icon-w: 1.333rem;
	--btn-xl-icon-h: 1.333rem;
}
