:root {
	--btn-label-sm-gap: 0.222rem;
	--btn-label-sm-icon-w: 0.889rem;
	--btn-label-sm-icon-h: 0.889rem;

	--btn-label-md-gap: 0.222rem;
	--btn-label-md-icon-w: 1.333rem;
	--btn-label-md-icon-h: 1.333rem;

	--btn-label-lg-gap: 0.444rem;
	--btn-label-lg-icon-w: 1.333rem;
	--btn-label-lg-icon-h: 1.333rem;
}
