:root {
	--color-white: #ffffff;
	--color-white10: #ffffff1a;
	--color-white30: #ffffff4d;

	--color-black: #000000;
	--color-black50: #2b2b2b80;
	--color-blue: #2a5591;
	--color-green: #006f33;
	--color-red: #db1c23;

	--color-gray25: #fafafa;
	--color-gray50: #f8f7f7;
	--color-gray100: #e7e7e7;
	--color-gray200: #d1d1d1;
	--color-gray300: #959595;
	--color-gray400: #888888;
	--color-gray500: #6d6d6d;
	--color-gray600: #5d5d5d;
	--color-gray700: #4f4f4f;
	--color-gray800: #2f2f2f;
	--color-gray900: #2b2b2b;
	--color-gray950: #171717;

	--color-brand25: #fff7f3;
	--color-brand50: #ffefe7;
	--color-brand100: #ffdfd0;
	--color-brand200: #ffbfa1;
	--color-brand300: #ff9f72;
	--color-brand400: #ff7f43;
	--color-brand500: #ff5e14;
	--color-brand600: #f04006;
	--color-brand700: #c72d07;
	--color-brand800: #9e240e;
	--color-brand900: #7f210f;
	--color-brand950: #450d05;

	--color-error25: #fffafa;
	--color-error50: #fef3f2;
	--color-error100: #fee4e2;
	--color-error200: #fecdca;
	--color-error300: #fda29b;
	--color-error400: #f97066;
	--color-error500: #f04438;
	--color-error600: #d92d20;
	--color-error700: #b32318;
	--color-error800: #912018;
	--color-error900: #7a271a;
	--color-error950: #55160c;

	--color-warn25: #fffcf5;
	--color-warn50: #fffaec;
	--color-warn100: #feefc6;
	--color-warn200: #fddf89;
	--color-warn300: #fec84a;
	--color-warn400: #fdb022;
	--color-warn500: #f69008;
	--color-warn600: #dc6803;
	--color-warn700: #b54708;
	--color-warn800: #93380c;
	--color-warn900: #792e0e;
	--color-warn950: #4d1d09;

	--color-success25: #f5fef9;
	--color-success50: #ecfdf3;
	--color-success100: #dafae5;
	--color-success200: #abefc6;
	--color-success300: #75e0a8;
	--color-success400: #47cc89;
	--color-success500: #16b269;
	--color-success600: #089455;
	--color-success700: #067646;
	--color-success800: #085e3b;
	--color-success900: #074d31;
	--color-success950: #043321;
}
