:root {
	--font-family: 'Golos Text', sans-serif;

	--font-d2xlr-size: 72px;
	--font-d2xlr-height: 86px;
	--font-d2xlr-weight: 400;

	--font-d2xlm-size: 72px;
	--font-d2xlm-height: 86px;
	--font-d2xlm-weight: 500;

	--font-d2xlsb-size: 72px;
	--font-d2xlsb-height: 86px;
	--font-d2xlsb-weight: 600;

	--font-dxlr-size: 64px;
	--font-dxlr-height: 76px;
	--font-dxlr-weight: 400;

	--font-dxlm-size: 64px;
	--font-dxlm-height: 76px;
	--font-dxlm-weight: 500;

	--font-dxlsb-size: 64px;
	--font-dxlsb-height: 76px;
	--font-dxlsb-weight: 600;

	--font-dlgr-size: 48px;
	--font-dlgr-height: 60px;
	--font-dlgr-weight: 400;

	--font-dlgm-size: 48px;
	--font-dlgm-height: 60px;
	--font-dlgm-weight: 500;

	--font-dlgsb-size: 48px;
	--font-dlgsb-height: 60px;
	--font-dlgsb-weight: 600;

	--font-dmdr-size: 40px;
	--font-dmdr-height: 48px;
	--font-dmdr-weight: 400;

	--font-dmdm-size: 40px;
	--font-dmdm-height: 48px;
	--font-dmdm-weight: 500;

	--font-dmdsb-size: 40px;
	--font-dmdsb-height: 48px;
	--font-dmdsb-weight: 600;

	--font-dsmr-size: 32px;
	--font-dsmr-height: 40px;
	--font-dsmr-weight: 400;

	--font-dsmm-size: 32px;
	--font-dsmm-height: 40px;
	--font-dsmm-weight: 500;

	--font-dsmsb-size: 32px;
	--font-dsmsb-height: 40px;
	--font-dsmsb-weight: 600;

	--font-dxsr-size: 24px;
	--font-dxsr-height: 32px;
	--font-dxsr-weight: 400;

	--font-dxsm-size: 24px;
	--font-dxsm-height: 32px;
	--font-dxsm-weight: 500;

	--font-dxssb-size: 24px;
	--font-dxssb-height: 32px;
	--font-dxssb-weight: 600;

	--font-txlr-size: 20px;
	--font-txlr-height: 28px;
	--font-txlr-weight: 400;

	--font-txlm-size: 20px;
	--font-txlm-height: 28px;
	--font-txlm-weight: 500;

	--font-txlsb-size: 20px;
	--font-txlsb-height: 28px;
	--font-txlsb-weight: 600;

	--font-tlgr-size: 18px;
	--font-tlgr-height: 24px;
	--font-tlgr-weight: 400;

	--font-tlgm-size: 18px;
	--font-tlgm-height: 24px;
	--font-tlgm-weight: 500;

	--font-tlgsb-size: 18px;
	--font-tlgsb-height: 24px;
	--font-tlgsb-weight: 600;

	--font-tmdr-size: 16px;
	--font-tmdr-height: 24px;
	--font-tmdr-weight: 400;

	--font-tmdm-size: 16px;
	--font-tmdm-height: 24px;
	--font-tmdm-weight: 500;

	--font-tmdsb-size: 16px;
	--font-tmdsb-height: 24px;
	--font-tmdsb-weight: 600;

	--font-tsmr-size: 14px;
	--font-tsmr-height: 20px;
	--font-tsmr-weight: 400;

	--font-tsmm-size: 14px;
	--font-tsmm-height: 20px;
	--font-tsmm-weight: 500;

	--font-tsmsb-size: 14px;
	--font-tsmsb-height: 20px;
	--font-tsmsb-weight: 600;

	--font-txsr-size: 12px;
	--font-txsr-height: 18px;
	--font-txsr-weight: 400;

	--font-txsm-size: 12px;
	--font-txsm-height: 18px;
	--font-txsm-weight: 500;

	--font-txssb-size: 12px;
	--font-txssb-height: 18px;
	--font-txssb-weight: 600;
}
