:root {
	--link-xs-gap: 0.333rem;
	--link-xs-icon-w: 1rem;
	--link-xs-icon-h: 1rem;

	--link-sm-gap: 0.333rem;
	--link-sm-icon-w: 1.111rem;
	--link-sm-icon-h: 1.111rem;

	--link-md-gap: 0.444rem;
	--link-md-icon-w: 1.111rem;
	--link-md-icon-h: 1.111rem;

	--link-lg-gap: 0.667rem;
	--link-lg-icon-w: 1.333rem;
	--link-lg-icon-h: 1.333rem;
}
