:root {
	--select-lg-pad: 0.889rem;
	--select-lg-gap: 0.889rem;
	--select-lg-opt-marg: 0.333rem 0.444rem;
	--select-lg-opt-pad: 0.556rem 0.444rem;
	--select-lg-height: 3.111rem;

	--select-xl-pad: 1.111rem;
	--select-xl-gap: 1.111rem;
	--select-xl-opt-marg: 0.556rem;
	--select-xl-opt-pad: 0.556rem;
	--select-xl-height: 3.556rem;
}
